@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 255, 255, 255;
      --background-end-rgb: 0, 0, 0;
    }
  }
} */

html {
  @apply h-full;
}

body {
  @apply
    h-full
    bg-gradient-to-r
    from-cyan-500
    to-blue-500
    dark:from-sky-800
    dark:to-indigo-800
    ;
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

input {
  @apply border shadow p-2;
}

.prompt {
  @apply absolute flex bottom-0;
}